tr.filetable-entry > td:first-child {
    width: 100%;
}
tr.filetable-entry > td:not(:first-child) {
    white-space: nowrap;
}

.toolbar > *:not(:last-child) {
    margin-bottom: 0.5rem;
}
@media (min-width:1200px) {
    .toolbar > *:not(:last-child) {
        margin-bottom: 0rem;
    }
}
